@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}

input {
  outline: 0 !important;
}

.loader {
  z-index: 99999;
  background-color: #ffffff;
}
.loader .loaderImage {
  width: 100%;
  max-width: 500px;
}

.header-block .nav-item a {
  color: #ffffff;
}
.header-block .nav-item a.active {
  color: #a4efe8;
  font-weight: 500;
}

.world-clock-block {
  background-image: linear-gradient(to right top, #114eaa, #474db9, #7049c3, #973ec8, #be28c7);
}
.world-clock-block .clock-control-block {
  background-color: #c6c6c6;
  color: #252525;
  font-weight: 600;
  cursor: pointer;
  max-width: 150px;
}
.world-clock-block .clock-control-block.active {
  background-color: #252525;
  color: #c6c6c6;
}
.world-clock-block .time-block div {
  background-color: #252525;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}
.world-clock-block .time-block div:last-child {
  background-color: #c6c6c6;
  color: #252525;
}
@media (max-width: 768px) {
  .world-clock-block .time-block {
    margin-top: 10px;
  }
  .world-clock-block .time-block div {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .world-clock-block .time-block div {
    font-size: 20px;
  }
}
.world-clock-block .date-block {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 480px) {
  .world-clock-block .date-block {
    font-size: 22px;
  }
}

.counter-block {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.counter-block .counter div {
  width: 80px;
  height: 80px;
  font-size: 30px;
  background-color: #59dfc6;
}
.counter-block .counter div.incrementBtn {
  cursor: pointer;
  margin-left: -20px;
  border-radius: 0 50% 50% 0;
}
.counter-block .counter div.decrementBtn {
  cursor: pointer;
  margin-right: -20px;
  border-radius: 50% 0 0 50%;
}
.counter-block .counter div.count {
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #a4efe8;
}
.counter-block p {
  font-weight: 600;
  color: #660d0d;
}
.counter-block button {
  font-weight: 600;
}

.todo-block .todo-title {
  background-color: #f7f793;
  border-radius: 6px 0 0 6px;
}
@media (max-width: 775px) {
  .todo-block .todo-title {
    border-radius: 6px 6px 0 0;
  }
}
.todo-block .todo-title svg {
  font-size: 80px;
}
.todo-block .todo-title h2 {
  font-weight: bold;
}
.todo-block .todo-title button {
  color: #ffffff;
  border-radius: 3px;
  border: 2px solid #a5d993;
}
.todo-block .todo-title button.completeBtn {
  background-color: #a5d993;
}
.todo-block .todo-title button.completeBtn.active {
  font-weight: bold;
}
.todo-block .todo-title button.pendingBtn {
  background-color: #660d0d;
}
.todo-block .todo-title button.pendingBtn.active {
  font-weight: bold;
}
.todo-block .todo-title button.clearBtn {
  background-color: #252525;
}
.todo-block .todo {
  width: 100%;
  max-width: 600px;
  border-radius: 0 6px 6px 0;
  background-color: #d0ffc0;
  flex-direction: column;
}
@media (max-width: 775px) {
  .todo-block .todo {
    border-radius: 0 0 6px 6px;
  }
}
.todo-block .todo .todo-list {
  flex-grow: 1;
  height: 500px;
  overflow-y: auto;
  max-height: 500px;
}
@media (max-width: 775px) {
  .todo-block .todo .todo-list {
    height: 100%;
  }
}
.todo-block .todo .todo-list::-webkit-scrollbar {
  width: 10px;
}
.todo-block .todo .todo-list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
.todo-block .todo .todo-list::-webkit-scrollbar-thumb {
  background-color: #658b58;
  border-radius: 100px;
}
.todo-block .todo .todo-list form.searchBox input {
  width: 80% !important;
}
.todo-block .todo .todo-list form.searchBox Button svg {
  color: #658b58;
}
.todo-block .todo .todo-list input {
  cursor: pointer;
}
.todo-block .todo .todo-list span {
  font-weight: 600;
}
.todo-block .todo .todo-list button {
  outline: 0;
  background-color: transparent;
}
.todo-block .todo .todo-list button svg {
  color: #660d0d;
}
.todo-block .todo form {
  background-color: #a5d993;
  border-radius: 3px;
}
.todo-block .todo form input {
  width: 90%;
  border-radius: 3px 0 0 3px;
  border: 2px solid #a5d993;
}
.todo-block .todo form button {
  width: 10%;
  border-radius: 0 3px 3px 0;
  background-color: #a5d993;
  border: 2px solid #a5d993;
}
.todo-block .todo form button svg {
  font-size: 21px;
  color: #658b58;
}

.user-block {
  background-color: #c6c6c6;
}
.user-block .user-box {
  background-color: #dedede;
  flex-grow: 0;
  flex-basis: 15%;
}
@media (max-width: 767px) {
  .user-block .user-box {
    flex-basis: 100%;
  }
}
.user-block .user-box p {
  margin: 0;
}
.user-block .user-box p:last-child {
  background-color: #c6c6c6;
  border-radius: 3px;
  padding: 0 10px;
}

.posts-block h1 {
  color: #252525;
  border-radius: 3px;
  background-color: #eb8181;
}
.posts-block h1 button:first-child {
  border-color: #b35755;
  background-color: #b35755;
}
.posts-block h1 button:last-child {
  border-color: #b35755;
  background-color: #b35755;
}
.posts-block .post-block {
  border-radius: 3px;
  background-color: #8bb9f5;
}
.posts-block .post-block h3 {
  width: 15ch;
  font-size: 22px;
  overflow: hidden;
  white-space: nowrap;
}
.posts-block .post-block button {
  padding: 0 10px;
  border-radius: 0;
  color: #252525;
}
.posts-block .post-block button:first-child {
  border-radius: 3px 0 0 3px;
}
.posts-block .post-block button:last-child {
  border-radius: 0 3px 3px 0;
}
.posts-block .post-block button svg {
  font-size: 14px;
}

.post-details-block h1 {
  border-radius: 3px;
  background-color: #a5d993;
}
.post-details-block h1 button {
  color: #ffffff;
  background-color: #658b58;
  border: 1px solid #658b58;
}
.post-details-block img {
  width: 100%;
  max-width: 400px;
  border-radius: 3px;
}/*# sourceMappingURL=style.css.map */